.league-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.small-text {
    padding-left: 3px;
    font-size: 10px;
    color: #9181fa
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #563dfd;
    color: white
  }
  